footer .section__item__content {
	@include breakpoint(windows_m) {
		//display: flex
		-webkit-display        : flex;
		-moz-display           : flex;
		-ms-display            : flex;
		display                : flex;

		//flex-direction: row
		-webkit-flex-direction : row;
		-moz-flex-direction    : row;
		-ms-flex-direction     : row;
		flex-direction         : row;

		//flex-wrap: wrap
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap   : wrap;
		-ms-flex-wrap    : wrap;
		flex-wrap        : wrap;

		//justify-content: center
		-webkit-justify-content: center;
		-moz-justify-content   : center;
		-ms-justify-content    : center;
		justify-content        : center;

		.group {
			width: 45%;
			margin-left: auto;
			margin-right: auto;
		}
	}

		@include breakpoint(windows_l) {
			.group {
				width: auto;
				max-width: 200px;
			}
		}
}





