/*--Section | service section--*/

.section__service .group {
	@extend %disp_flex;
	@include flex-flow(row, wrap);
	@include align-content(flex-start);
	margin-bottom: 0px;

	@media only screen and (min-width: 728px) {
		margin-top: 24px;
		margin-bottom: 24px;
	}
}

.service__item {
	$service-card__width: 250px;
	$gutter: 24px;
	@include flex-grow(1);
	@include flex-basis($service-card__width);

	@media only screen and (min-width: ($service-card__width * 2 + $gutter * 3)) {
		&:nth-child(2){
			margin-left: 0px;
		}
	}

	@media only screen and (min-width: ($service-card__width * 3 + $gutter * 4)) {
		&:nth-child(2){
			margin-right: 0px;
		}

		&:nth-child(n) {
			margin-bottom: 0px;
		}
	}
}



/*--Section | project section--*/

.section__project .section__item,
.section__about .section__item,
.section__skill .section__item,
.section__contact .section__item {
	
	@media only screen and (min-width: 728px) {
		
		//display: flex
		-webkit-display        : flex;
		-moz-display           : flex;
		-ms-display            : flex;
		display                : flex;
		
		//flex-direction: row
		-webkit-flex-direction : row;
		-moz-flex-direction    : row;
		-ms-flex-direction     : row;
		flex-direction         : row;
		
		//justify-content: center
		-webkit-justify-content: center;
		-moz-justify-content   : center;
		-ms-justify-content    : center;
		justify-content        : center;
		
		//align-items: center
		-webkit-align-items    : center;
		-moz-align-items       : center;
		-ms-align-items        : center;
		align-items            : center;
		
		//box-shadow: none
		-webkit-box-shadow     : none;
		-moz-box-shadow        : none;
		-ms-box-shadow         : none;
		-o-box-shadow          : none;
		box-shadow             : none;

		text-align             : left;

	}
}

.section__project .section__item {
	
	@media only screen and (min-width: 728px) {

		img {
			max-width   : 55%;
			margin-right: 24px;
		}

		.section__item__content {
			max-width   : 45%;
		}

		.section__btn {
			width       : auto;
		}
	}
}

.section__about .section__item {
	
	@media only screen and (min-width: 728px) {
		
		.profile-pic {
			max-width    : 55%;
			width        : 150px;
			height       : 150px;
			margin-right : 24px;
		}

		.section__item__content {
			max-width    : 45%;
		}

		.section__btn {
			width        : auto;
		}
	}
}

.section__skill .section__item {

	@media only screen and (min-width: 728px) {
		
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap   : wrap;
		-ms-flex-wrap    : wrap;
		flex-wrap        : wrap;

	}
}

.skill__item,
.about__item {

	@media only screen and (min-width: 728px) {
		
		@include fluid-grid(2, $gutter: 56px);
		margin-right     : auto;

	}
}

.section__contact .section__item {
	//align-items: center
	-webkit-align-items    : baseline;
	-moz-align-items       : baseline;
	-ms-align-items        : baseline;
	align-items            : baseline;
}






