/*-----------------------------------------------------
HEADER
-----------------------------------------------------*/

/*--Banner--*/
header {
	position        : relative;
	width           : 100%;
	height          : 100vh;
	min-height      : 460px;
	max-height      : 960px;
	background      : linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
	                  // url(../img/dawn_protrairt.jpg) no-repeat top center;
	                  url(../img/banner-img_2.jpg) no-repeat bottom center;
	@include          prefix(background-size, cover, webkit moz o);
	@extend           %center_center;
 }

/*--Brand | name & slogan--*/
.brand {
	text-shadow     : 0px  2px  4px rgba($black, 0.14), 
	                  0px  4px  5px rgba($black, 0.12), 
                      0px  1px 10px rgba($black, 0.20),;
}

.brand__name {
	margin-bottom   : 6px;
}

.brand__name:before {
	@extend           %line_w;
	margin-bottom   : 6px;
	@extend           %shadow_1dp;
}

.brand__name:after {
	@extend           %line_w;
	margin-top      : 6px;
	@extend           %shadow_1dp;
}

.brand__slogan {
	max-width       : 213px;
}

/*--Arrow down button--*/
.btn__arrow-down {
	position        : absolute;
	bottom          : 64px;
}


