/*-----------------------------------------------------
SECTION
-----------------------------------------------------*/

/*--Section | basic style--*/
.section__item {
	padding : 32px 24px;
	margin  : 0px 24px 24px;
	@extend   %card_def;

	&:last-child {
		margin-bottom: 0px;
	}

	> :nth-child(n) {
		margin-bottom: 16px;
	}

	> :last-child {
		margin-bottom: 0px;
	}

}

.section__heading {
	width   : 100%;
	height  : 112px;
	@extend   %center_center;
}

.section__item__title {
	width   : 100%;
}

.section__btn {
	@extend   %button_def;
	width   : 100%;
}

/*--Section | about section--*/

.profile-pic {
	width        : 100px;
	height       : 100px;
	border-radius: 50%;
}

.form__contact {
	margin-top   : 24px;

	> :nth-child(n) {
		margin-bottom: 16px;
	}

	> :last-child {
		margin-bottom: 0px;
	}
}

/*--Section | skill section--*/

.section__skill .section__item {

	> :nth-child(n) {
		margin-bottom: 36px;
	}

	> :last-child {
		margin-bottom: 0px;
	}

}

.skill__item {
	@extend %center_vertical;
}

.skill__icon {
	width: 48px;
	height: 48px;
	margin-right: 24px;
}

.skill__info {
	width: 100%;
}


.skill__level_bg {
	width: 100%;
	height: 2px;
	background-color: rgba($black, 0.30);
	margin: 8px 0;
}

@each $name, $score in $skill__score {
	#skill__level_#{$name} {
		width: $score;
		@extend %skill__level_def;
	}
}





