.section__item {
	padding: 32px 24px;
	margin: 0px 24px 24px;
	text-align: center;
	@extend %card_def;

	&:last-child {
		margin-bottom: 0px;
	}

	:nth-child(n) {
		margin-bottom: 16px;
	}

	:last-child {
		margin-bottom: 0px;
	}

}

.section__heading {
	width: 100%;
	height: 112px;
	font-size: 20px;
	font-weight: 700;
	color: rgba($black, 0.87);
	@extend %center_center;
}

.section__item__title {
	font-size: 16px;
	font-weight: 500;
	color: rgba($black, 0.87);
	width: 100%;
}

.section__item__description {
	font-size: 14px;
	font-weight: 400;
	color: rgba($black, 0.54);
	line-height: 24px;
}

.section__btn {
	@extend %button_def;
	width: 100%;
}