/*-----------------------------------------------------
BASE
-----------------------------------------------------*/

* {
    @include prefix(box-sizing, border-box, webkit moz);
}

body {
	font-family: 'NotoSans', sans-serif, 'NotoSansCJK', '微軟正黑體', 'Microsoft JhengHei';
}

img {
	max-width  : 100%;
	vertical-align: middle;
}

button {
	@extend %cursor__pointer;
	background : transparent no-repeat;
	border     : none;
	outline    : none;
	margin     : 0;
	padding    : 0;
}