/*-----------------------------------------------------
TEXT FORMATTING
-----------------------------------------------------*/

/*--Text overflow | one line--*/
%text__overflow_one-line {
	overflow      : hidden;
	white-space   : nowrap;
	text-overflow : ellipsis;
}

/*--Text transform--*/
%text__capitalization_uppercase {
	text-transform: uppercase;
}

%text__capitalization_lowercase {
	text-transform: lowercase;
}

%text__capitalization_capitalize {
	text-transform: capitalize;
}

%text__capitalization_uppercase_first-letter {
	@extend %text__capitalization_lowercase;

	&:first-letter {
		@extend %text__capitalization_capitalize;
	}
}



/*-----------------------------------------------------
ADD LINE
-----------------------------------------------------*/

/*--Add overline & underline text--*/
%line_w {
	content         : " ";
	display         : block;
	width           : 100%;
	height          : 2px;
	background-color: white;
}



/*-----------------------------------------------------
CENTER
-----------------------------------------------------*/

%center_center {
	@extend %disp_flex;
	@extend %justify-content_center;
	@extend %align-items_center;
}

%center_vertical {
	@extend %disp_flex;
	@extend %align-items_center;
}

%center_horizontal {
	@extend %disp_flex;
	@extend %justify-content_center;
}



/*-----------------------------------------------------
CARD DEFAULT SETTING
-----------------------------------------------------*/

%card_def {
	@extend %shadow_2dp;
	@extend %border__radius_def;
	overflow      : hidden;
	max-width     : 100%;
}



/*-----------------------------------------------------
BORDER RADIUS DEFAULT
-----------------------------------------------------*/

%border__radius_def {
	border-radius : 2px;
}



/*-----------------------------------------------------
BUTTON DEFAULT SETTING
-----------------------------------------------------*/

%button_def {
	@extend %text__capitalization_uppercase;
	@extend %border__radius_def;
	min-width     : 88px;
	height        : 36px;
	padding       : 0 16px;
	font-size: 14px;
	font-weight: 500;
	color: white;
	background-color: #80CBC4;
}



/*-----------------------------------------------------
CURSOR PROPERTY
-----------------------------------------------------*/

%cursor__pointer {
	cursor: pointer;
}

