////////////////////////////////////////////////////
// VENDOR PREFIX
////////////////////////////////////////////////////

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}



////////////////////////////////////////////////////
// FONT FACE
////////////////////////////////////////////////////

@mixin font__face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src    : null;

	$extmods: (
		eot        : "?",
		svg        : "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf        : "opentype",
		ttf        : "truetype"
	);

	@each $ext in $exts {
		$extmod    : if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format    : if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src       : append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style : $style;
		font-weight: $weight;
		src        : $src;
	}
}



////////////////////////////////////////////////////
// TEXT COLOR
////////////////////////////////////////////////////

@mixin text__color($theme, $importance) {
	@extend %text__color_#{$theme}_#{$importance};
}



////////////////////////////////////////////////////
// FONT WEIGHT
////////////////////////////////////////////////////

@mixin font__weight($weight) {
	@extend %font__weight_#{$weight};
}



////////////////////////////////////////////////////
// FONT SIZE
////////////////////////////////////////////////////

@mixin font__size($level) {
	@extend %font__size_#{$level};
}

////////////////////////////////////////////////////
// FLUID GRID
////////////////////////////////////////////////////

@mixin fluid-grid($column, $gutter: 16px) {
	$percent: 100% / $column;
	$numerator: $column - 1;
	width: calc( #{$percent} - (#{$gutter} * #{$numerator} / #{$column}));
	margin-bottom: #{$gutter};
	@if $column > 1 {
		&:nth-child(n) {
			margin-left: #{$gutter};
		}
		&:nth-child(#{$column}n+1) {
			margin-left: 0;
		}
	}
}



////////////////////////////////////////////////////
// BREAKPOINTS
////////////////////////////////////////////////////

@mixin breakpoint($point) {
  @if $point == handset_l {
    @media (max-width: map-get($breakpoint, $point)) { @content; }
  }
 
  @else if $point == tablet {
    @media (min-width: map-get($breakpoint, $point)) { @content; }
  }
 
  @else if $point == windows_m {
    @media (min-width: map-get($breakpoint, $point)) { @content; }
  }
 
  @else if $point == windows_l {
    @media (min-width: map-get($breakpoint, $point)) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: handset_l, tablet, windows_m, windows_l";
  }
}



