////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

//Base color
$black      :#000000;
$white      :#FFFFFF;
$link-water :#F8FAFD;
$athens-gray:#E6E9ED;

//Button color
$btn__color :#80CBC4;

//Text field
$input-field: (
	bg      : rgba($link-water, 1.00),
	border  : rgba($athens-gray, 1.00),
);

//Text color
$text__color: (
	dark : (
		primary  : rgba($black, 0.87),
		secondary: rgba($black, 0.54),
		hint     : rgba($black, 0.38),
	),
	light: (
		primary  : rgba($white, 1.00),
		secondary: rgba($white, 0.70),
		hint     : rgba($white, 0.50),
	),
);

// Icon color
$icon__color: (
	dark : (
		active   : (
			focused  : rgba($black, 0.87),
			unfocused: rgba($black, 0.54),
		),
		inactive : rgba($black, 0.38),
	),
	light: (
		active   : (
			focused  : rgba($white, 1.00),
			unfocused: rgba($white, 0.70),
		),
		inactive : rgba($white, 0.50),
	),
);

////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font weight
$font__weight: (
	ultralight  : 200,
	light       : 300,
	regular     : 400,
	medium      : 500,
	bold        : 700,
	heavy       : 900,
);

//Font size
$font__size  : (
	xs: rem(12),
	s : rem(14),
	m : rem(16),
	l : rem(20),
	xl: rem(24),
);



////////////////////////////////////////////////////
// SPACING
////////////////////////////////////////////////////

$spacing: (
	s : 16px,
	m : 24px,
	l : 32px,
	xl: 48px,
);

$line-height_def: 1.5; 



////////////////////////////////////////////////////
// LINK
////////////////////////////////////////////////////

//font
$font__path : '../fonts';




